* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    display: flex;

}

div {
    background-color: rgb(68, 66, 66);



}

.container {

    margin: auto;
    float: left;
    border-radius: 50%;
}

.satu {
    width: 276px;

    float: left;
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(48, 46, 48));
    text-align: center;
    font-size: 75px;
    padding-top: 20px;
    margin: 0;
}

.tiga {
    width: 276px;

    float: left;
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(48, 46, 48));
    text-align: center;
    font-size: 75px;
    padding-top: 20px;
    margin: 0;
}

.header .judul {
    margin-left: 5px;

}

.link {
    display:inline-block;
    background-color: rgb(39, 38, 38);
    color: rgb(226, 154, 106);
    text-align: center;
    padding: 10px;
margin-right: 5px;
margin-top: 3px;
margin-left: 3px;
    border-radius: 10px;
}


.artikel {
    padding: 5px;
}

p {
    padding-bottom: 20px;
}

div .footer p {
    background-color: rgb(39, 38, 38);
    color: white;
    text-align: center;
    padding-top: 20px;
}

.satu p {
    margin-top: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tiga p {
    margin: 20px;
    margin-top: 85px;
    padding-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}




@media (min-width:992px) {
    .container {
        width: 900px;
        margin: auto;
    }

.satu p{
    margin-top: 55px;
}

.tiga p{
    margin-top: 45px;
}

    .header {
        padding: 5px;
        margin-bottom: 10px;
    }

    .link {
        padding: 10px;
        margin-right: 10px;
    }

    .judul {
    margin-bottom: 10px;

}
}