* {
  margin: 0;
  padding: 0;
}
.container {
  text-align: center;
  width: 100%;
}

.bapak {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.kotak {
  margin: 50px;
}
body {
  background-color: black;
  color: #ea3888;
}

.link {
  text-align: center;
  margin-bottom: 30px;
}

a {
  color: #ea3888;
  box-shadow: 0 0 20px 10px #ea3888;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  background-color: white;
  font-size: 2em;
  text-transform: uppercase;
  width: 90px;
  height: 20px;
  margin: auto;
  font-family: cursive;
  margin-bottom: 30px;
  box-shadow: 0 0 20px 10px #ea3888;
}

a:hover {
  color: #ffffff;
  box-shadow: 0 0 20px 10px #ffffff;
  background-color: #ea3888;
  width: 90px;
  height: 20px;
  border-radius: 50%;
}

.kotak img:hover {
  transform: scale(1.1);
  object-fit: cover;
}
.kotak,
img {
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  object-fit: cover;
  box-shadow: 0 0 20px 10px #ea3888;
}

/* Membuat efek neon pada pinggiran */

@media (max-width: 480px) {
}
